.fondo {
    --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  
}

.loading-container {
  background-color: #ffffff;
  width: 720px;
  height: 400px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

video {
    width: 100%; 
    height: auto;
}