.container {
  background-image: url("/assets/img/fondo-mini-juego1.gif");
  background-size: 100% 100%;    
  background-position: center;
  background-repeat: no-repeat;
  width: 88%;
  height: 57vh;
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: right;
}