.fondo-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background-color: #fff9f3;
  padding: 20px;
  width: 300vh;
  max-width: 40vh;
  height: 80vh;
  border-radius: 20px;
  justify-content: space-between;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 18px;
  font-weight: bold;
}

.title {
  font-weight: bold;
  margin-left: 20px;
}

.title-container p {
  margin-left: 20px;
  width: 150px;
  background-color: #e7dace;
  padding: 4px;
  border-radius: 10px;
  font-size: 15px;
}

.close-button {
  background-color: red;
  color: white;
  padding: 8px 15px;
  border-radius: 100%;
  text-align: right;
  border: none;
  position: absolute; 
  top: 24px;          
  right: 24px; 
  font-size: 28px; 
  cursor: pointer;      
}

.personaje {
  background-image: url('/assets/img/armario.png'); 
  background-size: cover;
  background-position: center;   
  position: relative;
  width: 370px;
  height: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.personaje img {
  position: absolute;
  width: 75%;
  text-align: center;
}

.botones-ropa {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.botones-ropa button {
  background: blanchedalmond;
  border: 4px;
  padding: 0;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transform: scale(1);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.botones-ropa button:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}

.botones-ropa button:active {
  background-color: rgb(248, 212, 157);
}

.botones-ropa button.seleccionado {
  border: 2px solid #e0a765;
  background: #ffebcd;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.6);
  transform: scale(1.1);
}

.botones-ropa img {
  width: 90px;
  height: 90px;
}

.ropa-animada {
  animation: zoomIn 0.3s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

hr {
  margin-top: 20px;
  width: 90%;
}

.comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.comprar p {
  color: red;
  font-size: 22px;
  padding: 10px;
  width: 150px;
  background-color: #e7dace;
  border-radius: 10px;
}

.button55 {
  align-self: center;
  background-color: #bfdd8f;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #3b2906;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Comic Neue', sans-serif;
  font-size: 1.5rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-radius: 15px 225px 255px 15px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
  font-weight: bold;
}

.button55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button55:focus {
  box-shadow: rgba(34, 5, 5, 0.356) 2px 8px 4px -6px;
}