.fondo-inicio2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  
}

.container2 { 
  background: rgb(250, 255, 246);
  position: relative;
  padding: 20px;
  width: 300vh;
  max-width: 40vh;
  height: 80vh;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  margin: 2px 0 4px 10px;
}

p {
  margin-left: 10px;
}

.close-button {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border-radius: 100%;
  text-align: right;
  border: none;
  position: absolute; 
  top: 20px;          
  right: 20px; 
  font-size: 28px; 
  cursor: pointer;      
}

.close-button:hover {
  background-color: rgb(201, 0, 0);
}

.level-map {
  margin-top: 10px;
  height: 70px;
  width: 362px;
}

.levels-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px; 
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level-button {
  width: 81px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.4rem;
  background: rgb(93, 146, 80);
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: 'Comic Neue', sans-serif;
}

.level-button:hover {
  background: rgb(56, 90, 47);
}

.button-container {
  display: flex;
  justify-content: flex-end;
}